player-connection-mode=Listen
player-connection-guid=378855671
player-connection-debug=1
player-connection-project-name=The werewolves of millers hollow
player-connection-ip=10.33.2.80
player-connection-ip=10.245.95.108
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
